.mywatchlists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100vh;
}
.float-button {
  margin: 0;
  top: auto;
  right: 20;
  bottom: 20;
  left: auto;
  position: 'fixed';
}
