.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background-color: #1b262c;
  border-radius: 10px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;

  font-family: "Montserrat", sans-serif;
}

.media:hover {
  background-color: #bbe1fa;
  color: #1b262c;
  font-weight: bold;
  top: -10px;

}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.poster {
  border-radius: 10px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
}

.subTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 2px;
  padding-bottom: 3px;
}

.type {
  float: left;
  padding-left: 3px;
  bottom: 0;
}

.date {
  float: right;
  padding-right: 3px;
  bottom: 0;
}
