* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: #24323f;
  color: white;
  /* padding-bottom: 70px; */
}

.movie_cards {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 90px;
  align-items: center;
  justify-content: center;
}

.genre_chips {
  padding: 0px 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .app {
    padding-top: 40px;
  }
  .genre_chips {
    padding: 0px 30px;
  }
}

.pageTitle {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  padding: 10px;
  color: white;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}
